.DisplayTodos {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DisplayTodos ul {
  list-style: none;
  align-self: flex-start;
  flex-wrap: wrap;
  margin-left: 5%;
}

@media screen and (max-width: 640px) {
  .DisplayTodos {
    overflow: hidden;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .DisplayTodos ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    align-self: center;
  }
}
